/*
    Created on : 26-ago-2017, 12:58:48
    Author     : juanje
*/

#configurador-pistas-sc h2 {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    
}

#configurador-pistas-sc h3 {
    font-size: 14px;
    background: grey;
    font-weight: bold;
    background: #ccc;
    color: #333;
    padding-left: 1em;
}

div#configurador-pistas-sc {
    background-color: #eee;
    display: table;
    padding: 0;
    max-height: 1100px;
    width: 100%;
    color: white;
    background-color: black;
}

div#pista-status {
    background-color: black;
    padding: 1em;
    text-align: center;
}
div#pista {
    background-color: black;
    float: left;
    width: 60%;
    padding: 1em;
    border-right: solid 10px  #008BD2;
}
div#opciones {
    float: left;
    width: 40%;
    padding: 1em;
}
div#resultado {
    float: left;
    width: 40%;
    padding: 1em;
}

@media only screen and (max-width: 640px) {
    div#pista, div#opciones, div#resultado {
        float: none;
        display: block;
        width: 100%;
    }
}

div#imagen-pita {
    padding: 1em;
}
img#imagen-pista {
    height: auto;
    max-height: 1000;
}
div.opciones-pista, div.botonera-final {
    clear: both;
}

ul.botonera-opciones, ul.botonera-final {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.botonera-final li {
    margin: 1em;
    text-align: center;
    cursor: pointer;
}

ul.botonera-opciones li {
    display: block;
    color: white;
    float: left;
    background-color: #66ABD9; 
    width: 90px;
    height: 45px;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    line-height: 45px;   
    cursor: pointer;
    
}

li.boton-activado {
    background-color: blue !important;
    color: white !important;
}

.cp-boton {
  background: #66ABD9;
  background-image: -webkit-linear-gradient(top, #66ABD9, #0C80BE);
  background-image: -moz-linear-gradient(top, #66ABD9, #0C80BE);
  background-image: -ms-linear-gradient(top, #66ABD9, #0C80BE);
  background-image: -o-linear-gradient(top, #66ABD9, #0C80BE);
  background-image: linear-gradient(to bottom, #66ABD9, #0C80BE);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.cp-boton:hover {
  background: #0c80be;
  background-image: -webkit-linear-gradient(top, #0c80be, #66ABD9);
  background-image: -moz-linear-gradient(top, #0c80be, #66ABD9);
  background-image: -ms-linear-gradient(top, #0c80be, #66ABD9);
  background-image: -o-linear-gradient(top, #0c80be, #66ABD9);
  background-image: linear-gradient(to bottom, #0c80be, #66ABD9);
  text-decoration: none;
}

form.wpcf7-form {
    padding: 2em;
}

#url-resultado a,  #url-resultado {
    color: white;
}
